version 5.249.0


group Common
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none

    nuget FSharp.Core
    nuget FsToolkit.ErrorHandling
    nuget FsToolkit.ErrorHandling.TaskResult
    nuget FSharp.Azure.Storage
    nuget Unquote 4.0
    nuget Newtonsoft.Json
    nuget FSharpPlus 1.2.0-CI01568 

group Backend
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none

    nuget Giraffe
    nuget Saturn
    nuget FSharp.Core
    nuget FsToolkit.ErrorHandling
    nuget FsToolkit.ErrorHandling.TaskResult
    nuget FsConfig
    nuget Microsoft.Extensions.Configuration.UserSecrets 
    nuget Feliz.ViewEngine
    nuget Feliz.Bulma.ViewEngine
    nuget FSharp.Azure.Storage
    nuget Unquote 4.0
    nuget Microsoft.AspNetCore.Authentication.JwtBearer 3.1.10 
    
group Functions

    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none
    strategy: min

    nuget FSharp.Core
    nuget FsToolkit.ErrorHandling
    nuget FsToolkit.ErrorHandling.TaskResult
    nuget FsConfig
    nuget Microsoft.Extensions.Configuration.EnvironmentVariables
    nuget Microsoft.Extensions.Configuration.UserSecrets 
    nuget Microsoft.NET.Sdk.Functions 
    nuget Newtonsoft.Json 12.0.3
    
group Domain
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none

    nuget FSharp.Core
    nuget FsToolkit.ErrorHandling
    nuget FSharpPlus 1.2.0-CI01568 

group build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none
    
    nuget FSharp.Core 4.7.0
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget FAKE.Core.Environment
    nuget FAKE.Core.Process
    nuget FAKE.Net.Http
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Git

group deploy
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none
    
    nuget FSharp.Core
    nuget Farmer
